.subpage_menu_wrapper, .subpage-menu, .subpage_menu_wrapper li, .subpage_menu_wrapper a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  position: relative; }

.subpage_menu_wrapper {
  margin-bottom: 36px; }
  .subpage_menu_wrapper a {
    line-height: 1.3; }

#sidebar div ul.subpage-menu li {
  border-bottom: none;
  padding: 0;
  border: none;
  margin: 0 0 2px 0; }

.subpage-menu li {
  border-bottom: none;
  padding: 0;
  border: none;
  margin: 0 0 2px 0; }
  .subpage-menu li:last-child {
    margin: 0; }
  .subpage-menu li.current_page_item a span {
    color: #61CAE1; }
  .subpage-menu li.page_item_has_children a {
    color: #F37124;
    background-color: transparent; }
    .subpage-menu li.page_item_has_children a span {
      background: url(../images/icon_plus.png) 98% center no-repeat; }
  .subpage-menu li.page_item_has_children.active a span {
    background: url(../images/icon_minus.png) 98% center no-repeat; }
  .subpage-menu li a {
    font-size: 15px;
    color: #F37124;
    display: block; }
    .subpage-menu li a:hover {
      text-decoration: none; }
    .subpage-menu li a span {
      display: block;
      padding: 6px 10px;
      font-weight: bold; }

/* Sub menu */
.subpage-menu .current_page_parent .children {
  display: block; }
  .subpage-menu .current_page_parent .children li a span {
    background: none; }

.subpage-menu .children {
  display: none;
  margin-bottom: 0;
  padding: 5px 12px; }
  .subpage-menu .children li {
    margin: 0;
    padding: 4px 0; }
  .subpage-menu .children a {
    background-color: transparent;
    display: block;
    color: #595959;
    font-size: 13px;
    font-weight: bold; }
    .subpage-menu .children a:hover {
      color: #6C8CC8; }
    .subpage-menu .children a span {
      background: none; }

.subpage-menu li.page_item_has_children .children a span {
  background: none; }

.subpage-menu .page_item_has_children li a {
  display: block;
  color: #595959;
  font-size: 13px;
  font-weight: bold;
  background-color: transparent; }

#sidebar div ul.subpage-menu li .children li {
  margin: 0;
  padding: 4px 0; }

/*# sourceMappingURL=styles.css.map */
