
.subpage_menu_wrapper, .subpage-menu, .subpage_menu_wrapper li, .subpage_menu_wrapper a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	position: relative;
}
.subpage_menu_wrapper { 
	margin-bottom: 36px; 
	a { line-height: 1.3; }
}
#sidebar div ul.subpage-menu li {
	border-bottom: none;
	padding: 0;
	border: none;
	margin: 0 0 2px 0;
}
.subpage-menu li {
	border-bottom: none;
	padding: 0;
	border: none;
	margin: 0 0 2px 0;
	&:last-child { margin: 0; }
	&.current_page_item a span { color: #61CAE1 }
	&.page_item_has_children a {
		color: #F37124;
		background-color: transparent;
		span { background: url(../images/icon_plus.png) 98% center no-repeat; }
	}
	&.page_item_has_children.active a span { background: url(../images/icon_minus.png) 98% center no-repeat; }
	a {
	font-size: 15px;
	color: #F37124;
	display: block;
	&:hover { text-decoration: none; }
	span {
		display: block;
		padding: 6px 10px;
		font-weight: bold;
	}
}
}


/* Sub menu */
.subpage-menu .current_page_parent .children { 
	display: block;
	li a span { background: none } 
}
.subpage-menu .children {
	display: none;
	margin-bottom: 0;
	padding: 5px 12px;
	li {
		margin: 0;
		padding: 4px 0;
	}
	a {
		background-color: transparent;
		display: block;
		color: #595959;
		font-size: 13px;
		font-weight: bold;
		&:hover { color: #6C8CC8; }
		span { background: none }
	}
}
.subpage-menu li.page_item_has_children .children a span { background: none}
.subpage-menu .page_item_has_children li a {
			display: block;
			color: #595959;
			font-size: 13px;
			font-weight: bold;
			background-color: transparent;
		}

#sidebar div ul.subpage-menu li .children li {
	margin: 0;
	padding: 4px 0;
}